video {
    object-fit: fill;
}

#videoplayer0 {
    z-index: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#player0 {
    margin: 0;
    padding: 0;
    cursor: none;
    border: none;
    width: 100%;
    height: 100%;
    cursor: none;
}

#videoplayer1 {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#player1 {
    margin: 0;
    padding: 0;
    cursor: none;
    border: none;
    width: 100%;
    height: 100%;
    cursor: none;
}

#overlayShadow {
    z-index: 2;
    left: 2px;
    top: 2px;
    color: #202020;
    cursor: none;
}

.overlay {
    z-index: 3;
    left: 0px;
    top: 0px;
    color: #FFFFFF;
    position: absolute;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: 200;
    cursor: none;
}

.topline {
    flex: 0 1 64px;
    width: 100%;
    padding-top: 64px;
}

.toplineleft {
    float: left;
    padding-left: 64px;
}

.toplineright {
    float: right;
    padding-right: 64px;
    text-align: right;
}

.secondline {
    flex: 0 1 64px;
    width: 100%;
    padding-left: 64px;
}