@page
@model IndexModel
@{
    ViewData["Title"] = "Debug";
    @section Scripts
    {
        <script type="text/javascript" src="@Url.Content("/js/index.js")" defer></script>
    }
}

<div id="header">
    <h1>Debug Options</h1>

    <table>
        <tr>
            <td>
                <input id="Button1" type="button" value="Open Player" onclick="openPlayer()" />
            </td>
            <td>
                <input id="Button2" type="button" value="Open Remote" onclick="openRemote()" />
            </td>
            <td>
                <input id="Button3" type="button" value="Open Anonymous" onclick="openAnonymous()" />
            </td>
            <td>
                <input id="Button4" type="button" value="Close All Windows" onclick="closeWindows()" />
            </td>
        </tr>
    </table>
</div>

<ul id="debugOutput" style="color:#FFFFFF;">
</ul>

<script>
    var playerWindow;
    var player2Window;
    var remoteWindow;
    var anonymousWindow;

    openWindows();
    window.addEventListener('beforeunload', closeWindows);

    function openWindows() {
        //playerWindow = window.open("Player", "Player", "left=1960,top=45,width=1440,height=900");
        //player2Window = window.open("Player2", "Player2", "left=1960,top=45,width=1440,height=900");
        player2Window = window.open("Player2", "Player2", "left=2410,top=45,width=1440,height=900");

        //remoteWindow = window.open("Remote", "Remote", "left=3650,top=45,width=412,height=846");
        //anonymousWindow = window.open("Anonymous", "Anonymous", "left=1540,top=45,width=412,height=846");
    }

    function closeWindows() {
        //playerWindow.close();
        player2Window.close();
        //remoteWindow.close();
        //anonymousWindow.close();
    }

    function openPlayer() {
        playerWindow = window.open("Player", "Player", "left=1960,top=45,width=1440,height=900");
    }

    function openPlayer2() {
        player2Window = window.open("Player2", "Player2", "left=1960,top=1045,width=1440,height=900");
    }

    function openRemote() {
        remoteWindow = window.open("Remote", "Remote", "left=3650,top=45,width=412,height=846");
    }

    function openAnonymous() {
        anonymousWindow = window.open("Anonymous", "Anonymous", "left=1540,top=45,width=412,height=846");
    }

</script>